.d-none {
    display: none;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.checkbox{
    width: 18px !important;
    height: 18px !important;
    opacity: 1 !important;
    pointer-events: all !important;
    display: inline-block;
    position: static !important;
    margin-right: 20px !important;
    margin-top: 2px !important;
}